/* Reset Styles
***********************/
/* html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
    display: block;
}
 */
/* body {
    line-height: 1;
}
 */
ol, ul {
    list-style: none;
}

/* blockquote, q demo
blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}
 */
/* table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
 */

/*
 * MyFonts Webfont Build ID 1114443, 2011-09-02T06:08:04-0400 - REGULAR
 * MyFonts Webfont Build ID 1118460, 2011-09-05T07:13:16-0400 - MEDIUM
 * MyFonts Webfont Build ID 825795, 2011-05-26T03:42:08-0400 - SEMIBOLD
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=1114443 - REGULAR
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=1118460 - MEDIUM
 * License: http://www.myfonts.com/viewlicense?1056 - SEMIBOLD
 * 
 * Webfont: Geogrotesque SemiBold
 * URL: http://new.myfonts.com/fonts/emtype/geogrotesque/semibold/
 * Foundry: Emtype Foundry
 * Copyright: Copyright © 2009 by Eduardo Manso. All rights reserved.
 * Licensed pageviews: 10,000,000/month
 * 
 * © 2011 Bitstream Inc
*/

/* GEO - Semibold */



/* General
***********************/







.toggle {
    margin: 2px 0 0 14px;
    float: left;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.toggle li {
    float: left;
}

.toggle li a {
    width: 50px;
    padding: 6px 0;
    text-align: center;
    display: block;
    text-shadow: 1px 1px 0 #fff;
    font-size: 12px;
    font-weight: 600;
    color: #666;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background: #ffffff;
 /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%);
 /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#ededed 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
 /* IE6-9 */
    box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
    -moz-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
    -webkit-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
}

.toggle li:first-child a {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.toggle li a:hover {
    background: #ededed;
    color: #222;
}

.toggle li a.active {
    background: #c8e0f3;
    color: #325874;
    cursor: default;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
}

#slider {
 /*    margin: 0 0 10px!important; commented by akhlesh*/
 
   margin: 0 0 0px!important;
}

#carousel li {
/*     margin-right: 5px; */
   margin-right: 5px;
}

#carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
	height:150px;/* added by akhlesh */
	
}

#carousel img:hover {
    opacity: 1;
}

#carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
	
}
 #carousel{
width:1130px;
padding-left:20px;padding-right:20px;padding-top: 20px; 
margin: auto;
height:150px;



}/* added by akhlesh */ */




/* Loading
***********************/




/* Layout
***********************/
#top {
    position: relative;
    z-index: 999;
    height: 65px;
    padding: 5px 0;
    border-bottom: 1px solid #577794;
    background: rgb(226,232,239);
 /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,232,239,1) 0%, rgba(210,219,228,1) 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,232,239,1)), color-stop(100%,rgba(210,219,228,1)));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%);
 /* IE10+ */
    background: linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%);
 /* W3C */;
}

#top {
    text-align: center;
}

#top .top-inner {
    max-width: 800px;
    width: auto;
}

#top img {
    float: none;
    display: inline;
    margin-top: 12px;
}

#container {
 /*    padding: 60px 40px 100px;  
      border-top: 1px solid #93b6d2;
 */
  padding: 0px 0px 0px; /* added by akhlesh */

}



#main {
 /*   margin-left: 420px;
    margin-top: -25px;
    overflow: hidden; */
	
/* 	
added by akhlesh  */
	margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
/* 	width:100%; */
/* 	height:808px; */
     
}







/* SyntaxHighlighter
***********************/
.syntaxhighlighter {
    width: auto!important;
    font-size: 13px !important;
    line-height: 21px !important;
    font-family: Courier, "Courier New", monospace;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff !important;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #ff5454 !important;
}

.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 {
    width: 100% !important;
    padding: 0 !important;
    background-color: #fff !important;
}

.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
    background-color: #fff !important;
}

.syntaxhighlighter table td.code {
    width: auto !important;
    padding: 10px 12px!important;
}

.syntaxhighlighter table td.code .line {
    width: auto !important;
    padding: 0 !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #cc7ac6!important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #888!important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #999!important;
}

.syntaxhighlighter .keyword {
    color: #2a93b9!important;
}

/* --Clearfix */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* Media Queries
***********************/




/* Media Queries
***********************/
@media screen and (max-width: 960px) {
 /*    #container {
        padding: 35px;
    }   commented by akhlesh*/
	   #container {
        padding: 0px;
    }
/* 
    header {
        width: 380px;
    } */

    #main {
   /*      margin-left: 380px;  commented by akhlesh*/
      margin-left:0px
    }
	#carousel {
	
	 display:none;
	}/*akhlesh*/
	
	 .flexslider .slides img {
    width: 100%;
    display: block;
	height:100%;
}  /*  added by akhlesh */
}

@media screen and (max-width: 768px) {
  .flexslider .slides img {
    width: 100%;
    display: block;
	height:100%;
}  /*  added by akhlesh */

   #container {
        padding: 0px;
    }
    
 

    #main {
        margin-left: 0;
    }
	#carousel {
	
	 display:none;
	} /* added by akhlesh */

}

@media screen and (max-width: 480px) and(max-height:640px;) {
     #carousel{
	     display:none;
	 }
	  #container {
        padding: 0px;
    }
	header h1 {
        width: 246px;
    };
}